/* Specification */

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #4404cc;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

a, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.btn-ghost {
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 100px;
    width: 220px;
    padding: 16px 0;
    display: block;
    text-align: center;
}

.btn-ghost:hover {
    background: #fff;
    color: #5a05c3;
}

.btn-red {
    background: #e719ef;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    display: block;
    border: 0;
    padding: 20px 0;
    width: 100%;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.btn-red:focus {
    outline: none;
}

.btn-red:hover {
    background: #8905b2;
}

.btn-red:active {
    background: #5b055e;
}

p {
    line-height: 1.6em;
}

input, input:hover, input:active, input:focus {
    outline: none;
}

.section-title {
    font-weight: 700;
    font-size: 24px;
}

.section-title::after {
    content: '';
    display: block;
    background: #4404cc;
    border-radius: 5px;
    width: 67px;
    height: 3px;
    margin-top: 15px;
}

header, footer, section {
    position: relative
}

button, button:focus, button::after, button:hover {
    outline: none;
}

/* Preloader */

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(20, 20, 20);
    top: 0;
    z-index: 1000;
}
.preloader{
    width: 50px;
    height: 50px;
    border: 6px solid transparent;
    border-bottom: 6px solid rgb(72, 32, 80) ;
    border-left: 6px solid rgb(72, 32, 80) ;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animate 1s infinite linear;
    z-index: 1500;
}
/* Анимируем наш прелоадер */
@keyframes animate{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}

/* Swiming Header */

nav {
    position: absolute;
    width: 100%;
    z-index: 99999;
    transition: all 0.5s ease;
}

nav.sticky {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
}

nav.sticky .phone {
    color: #4604c1;
}

nav.sticky .menu-open {
    color: #4604c1;
}

nav.sticky .opened {
    margin-bottom: 20px;
}

nav.sticky .menu__item a {
    color: #e719ef;
}

nav.sticky .menu__item a:hover {
    color: #e719ef;
    border-top: 2px solid #e719ef;
    border-bottom: 2px solid #e719ef;
}


/* First Section */

.header {
    background: rgba(144,5,175,1);
    background: -moz-linear-gradient(-45deg, rgba(144,5,175,1) 0%, rgba(3,3,210,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(144,5,175,1)), color-stop(100%, rgba(3,3,210,1)));
    background: -webkit-linear-gradient(-45deg, rgba(144,5,175,1) 0%, rgba(3,3,210,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(144,5,175,1) 0%, rgba(3,3,210,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(144,5,175,1) 0%, rgba(3,3,210,1) 100%);
    background: linear-gradient(135deg, rgba(144,5,175,1) 0%, rgba(3,3,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9005af', endColorstr='#0303d2', GradientType=1 );
    color: #fff;
    overflow-y: hidden;
    padding-top: 100px;
}

.header::after {
    content: '';
    display: block;
    width: 100%;
    height: 203px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../img/border1.png') no-repeat center -10px;
    z-index: 2;

}

.logo {
    background: #fff url('../img/logo.png') no-repeat 28px center;
    border-radius: 0 0 30px 30px;
    padding: 32px 0 32px 85px;
    text-transform: uppercase;
    color: #8905b2;
    font-size: 12px;
    width: 207px;
    display: block;
}

.logo:hover {
    color: #8905b2;
}

.menu {
    margin-top: 36px;
}

.menu__item {
    margin-right: 30px;
}

.menu__item a {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 0;
}

.menu__item a:hover {
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}


.phone {
    font-weight: 700;
    font-size: 18px;
    margin-top: 33px;
    color: #fff;
    text-align: right;
}

.offer {
    margin-top: 87px;
}

.offer__intro {
    font-size: 15px;
    margin-bottom: 45px;
}
.offer__title {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 70px;
}
.offer__text {
    font-size: 15px;
    margin-bottom: 31px;
    width: 360px;
    margin-left: 70px;
}
.offer__btn {
    margin-left: 70px;
}

.form {
    border-radius: 30px;
    background: #fff;
    padding: 42px 26px 57px;
    text-align: center;
    margin-top: 60px;
    position: relative;
    box-shadow: 0 30px 90px rgba(0, 0, 0, 0.2);
    margin-bottom: 150px;
}

.form__title {
    font-weight: 700;
    font-size: 18px;
    color: #3e05ce;
}

.form__additional {
    font-size: 14px;
    color: #736b86;
    margin-top: 14px;
}
.form__input {
    border: 0px;
    border-bottom: 1px solid #b9a5ed;
    width: 293px;
    display: block;
    padding: 8px 0;
    margin-bottom: 11px;
}

.form__input:focus {
    border-bottom: 1px solid #e719ef;
    color: #e719ef;
}

.form__btn {
    margin-top: 20px;
}
.form .fa-solid {
    line-height: 36px;
}
.form__icon {
    color: #f70895;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: block;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 50%;
    margin-left: -18px;
    top: -18px;
    background: #fff;
}

.boy {
    background: url('../img/boy.png');
    width: 245px;
    height: 363px;
    position: absolute;
    top: 0;
    margin-top: 340px;
    left: 45%;
    z-index: 1;
}

.menu-open {
    background: none;
    color: #fff;
    border: 0;
    font-size: 20px;
    margin-top: 29px;
}

.menu-open:focus {
    outline: none;
    border: 1px solid #fff;
    border-radius: 5px;
}

.opened {
    order: 7;
}

.opened .menu {
    width: 75%;
    background: #191a32f7;
    border-radius: 30px;
    margin: 20px auto 0;
    flex-direction: column;
    letter-spacing: 0.1em;
}

.opened .menu .menu__item {
    margin: 30px auto;
}


/* Section 2 */

.finish {
    background: #fff;
    position: relative;
    z-index: 9;
    height: 620px;
}

.finish-title {
    margin-top: 150px;
}

.about-finish {
    font-size: 15px;
    margin-top: 45px;
    width: 350px;
}

/* Counter */


.web-date span {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px dashed;
}

.claim {
    margin-right: 60px;
    margin-top: 42px;
    width: 315px;
    text-align: left;
}

.countdownHolder {
    font-size: 45px;
    text-align: left;
    letter-spacing: -11px !important;
    font-weight: bold;
    margin-top: 30px;
}

.countdownHolder * {text-align: center;}

.digit {
    position: absolute;
    display: block;
    text-align: center;
    color: #fff;
    padding-top: 5px;
}

a.prog i {
    font-size: 15px !important;
    margin-left: -4px !important;
}

.countDiv {
    display:none;
    width:16px;
    height:1.6em;
    position:relative;
}

.count_wrap {
    height: 92px;
    display: inline-block;
    margin: 0 0 0 4px;
    position: relative;
    width: 80px;
    font-size: 0;
    line-height: 58px;
}

.count_wrap:first-child {margin-left: 0;}

.lay {
    background: #4404cc;
    border-radius: 10px;
    height: 92px;
    left: 0; right: 0;
    position: absolute;
    top: 2px;
    width: 70px;
}

.count_wrap:after {
    display: block;
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    margin-top: -10px;
    height: 14px;
    background: url(../img/days.png) 12px 0 no-repeat;
}

.count_wrap.countHours:after {background-position: -73px 0;}
.count_wrap.countMinutes:after {background-position: -158px 0;}
.count_wrap.countSeconds:after {background-position: -244px 0;}

.position {
    font-size: 30px;
    display: inline-block;
    height: 92px;
    overflow: hidden;
    position: relative;
    width: 18px;
    left: -4px;
    top: 12px;
}

.web-counter {
    text-align: right;
    margin-top: 60px;
    margin-right: 50px;
}

.web-counter .light {
    padding-bottom: 11px;
}

/* Circle */

.circle {
    width: 540px;
    height: 540px;
    border-radius: 50%;
    box-shadow: 0 0 95px rgba(175, 24, 148, 0.48) inset;
    margin: 45px auto;
    padding-top: 190px;
    position: absolute;
    right: 0;
}

.btn1 {
    border-radius: 5px;
    width: 230px;
    padding: 15px 0;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    display: block;
    background: rgba(231,15,94,1);
    background: -moz-linear-gradient(-45deg, rgba(231,15,94,1) 0%, rgba(67,4,204,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(231,15,94,1)), color-stop(100%, rgba(67,4,204,1)));
    background: -webkit-linear-gradient(-45deg, rgba(231,15,94,1) 0%, rgba(67,4,204,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(231,15,94,1) 0%, rgba(67,4,204,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(231,15,94,1) 0%, rgba(67,4,204,1) 100%);
    background: linear-gradient(135deg, rgba(231,15,94,1) 0%, rgba(67,4,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e70f5e', endColorstr='#4304cc', GradientType=1 );
    transition: all 0.5s ease;
    margin: 0 auto;
}

.btn1:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
}

.btn2 {
    border-radius: 5px;
    width: 230px;
    padding: 15px 0;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    display: block;
    background: #1eb8a4;
    box-shadow: 0 8px 0 0 #139f8d;
    transition: all 0.1s ease;
    margin: 20px auto 0 ;
}

.btn2:hover {
    background: #08c4ac;
    color: #fff;
}

.btn2:active {
    box-shadow: none;
    margin-top: 28px;
}

/* Section parallax */

.parallax {
    padding: 200px 0;
    background: url('../img/parallax-bg.jpg') no-repeat fixed center top;
    color: #fff;
    text-align: center;
}

.parallax .parallax-title::after {
    margin: 20px auto 0;
    background: #fff;
}

.parallax-btn {
    margin: 20px auto 0;

}

/* Icon Wobble Vertical */
@-webkit-keyframes hvr-icon-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    33.3% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes hvr-icon-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(6px);
      transform: translateY(6px);
    }
    33.3% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .hvr-icon-wobble-vertical {
    margin: 0.4em;
    padding: 1em 2em;
    cursor: pointer;
    background: #21014b;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .hvr-icon-wobble-vertical:hover {
    color: #fff;
  }
  .hvr-icon-wobble-vertical .hvr-icon {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-wobble-vertical:hover .hvr-icon, .hvr-icon-wobble-vertical:focus .hvr-icon, .hvr-icon-wobble-vertical:active .hvr-icon {
    -webkit-animation-name: hvr-icon-wobble-vertical;
    animation-name: hvr-icon-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

/* ******************* */

.animate__animated {
    opacity: 0;
}

.form-popup {
    box-shadow: none;
    border-radius: 0;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    background: none;
}

.form-popup .form__input {
    width: 100%;
}


/* Slider */

.slider-title {
    margin: 50px 0;
}

.big-slider {
    position: relative;
}

.big-slider__item img {
    display: block;
    width: 100%;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #4404cc;
    font-size: 42px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slick-prev {
    left: -52px;
}

.slick-prev:hover {
    left: -56px;
}

.slick-next {
    right: -52px;
}

.slick-next:hover {
    right: -56px;
}

.slick-dots {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.slick-dots li {
    margin-right: 17px;
}

.slick-dots li button {
    background: #c7b3f0;
    border-radius: 50%;
    border: none;
    width: 15px;
    height: 15px;
    display: block;
    font-size: 0;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background: #4404cc;
}

/* Carousel Slider */

.car-slider {
    margin-bottom: 200px;
}

.car-slider__item {
    padding: 15px;
}

.car-slider__item img {
    display: block;
    width: 100%;
}

.car-slider .slick-arrow {
    font-size: 20px;
}

.car-slider .slick-next {
    right: -30px;
}

.car-slider .slick-prev {
    left: -30px;
}

.car-slider .slick-next:hover {
    right: -33px;
}

.car-slider .slick-prev:hover {
    left: -33px;
}

.slick-current img {
    transform: scale(1.2);
    transition: all 0.5s ease;
}

/* Order */

.order {
    background: rgba(144,5,175,1);
    background: -moz-linear-gradient(-45deg, rgba(144,5,175,1) 0%, rgba(3,3,210,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(144,5,175,1)), color-stop(100%, rgba(3,3,210,1)));
    background: -webkit-linear-gradient(-45deg, rgba(144,5,175,1) 0%, rgba(3,3,210,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(144,5,175,1) 0%, rgba(3,3,210,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(144,5,175,1) 0%, rgba(3,3,210,1) 100%);
    background: linear-gradient(135deg, rgba(144,5,175,1) 0%, rgba(3,3,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9005af', endColorstr='#0303d2', GradientType=1 );
    color: #fff;
    padding: 100px 0;

}

.persp {
    perspective: 700px;
    perspective-origin: 60% 79%;
}

.form-order {
    width: 375px;
    margin: 0 auto;
    transform: rotateX(10deg) rotateY(40deg) rotateZ(343deg);
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(25deg) rotateY(32deg) rotateZ(-26deg) translateX(2px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}